@font-face {
    font-family: "Nosifer";
    src: url("./Nosifer-Regular.ttf") format("TrueType");
}

@font-face {
    font-family: "Creepster";
    src: url("./Creepster-Regular.ttf") format("TrueType");
}
